<!DOCTYPE html>
<head>
    <title>web</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/webstyles.css')}}">
    <script>



    </script>
</head>
<body>
    <div>
        <form method = "GET", action="/solve">
        <table class = "tablegrid">
            <tr>
                <td class="lu" ><input name = "00" value ={{n00}}></td>

                <td class="u"> <input name = "01" value ={{n01}}> </td>
                <td class="u"><input  name = "02" value ={{n02}}></td>
                <td class="lu"><input  name = "03" value ={{n03}}></td>
                <td class="u"><input  name = "04" value ={{n04}}></td>
                <td class="u"><input  name = "05" value ={{n05}}></td>
                <td class="lu"><input name = "06" value ={{n06}}></td>
                <td class="u"><input  name = "07" value ={{n07}} ></td>
                <td class="ur"><input name = "08" value ={{n08}}></td>
            </tr>
            <tr>
                <td class="l"><input name = "10"value ={{n10}} ></td>
                <td><input name = "11" value ={{n11}} ></td>
                <td class="r"><input name = "12" value ={{n12}} ></td>
                <td><input name = "13" value ={{n13}} ></td>
                <td><input name = "14"  value ={{n14}} ></td>
                <td class="r"><input name = "15" value ={{n15}} ></td>
                <td><input name = "16" value ={{n16}} ></td>
                <td><input name = "17" value ={{n17}} ></td>
                <td class="r"><input name = "18" value ={{n18}} ></td>
         </tr>

            <tr>
 
                <td class="l"><input name = "20" value ={{n20}} ></td>
                <td><input name = "21" value ={{n21}} ></td>
                <td class="r"><input name = "22" value = {{n22}}></td>
                <td><input name = "23"  value= {{n23}}></td>
                <td><input  name = "24" value = {{n24}}></td>
                <td class="r"><input name = "25" value = {{n25}} ></td>
                <td><input name = "26" value = {{n26}}></td>
                <td><input name = "27" value = {{n27}} ></td>
                <td class="r"><input name = "28" value = {{n28}} ></td>
            </tr>

            <tr>
                <td class="lu"><input name="30"  value = {{n30}}></td>
                <td class="u"><input name="31" value = {{n31}} ></td>
                <td class="u"><input name="32"  value = {{n32}}></td>
                <td class="lu"><input name="33" value = {{n33}} ></td>
                <td class="u"><input  name="34" value = {{n34}}></td>
                <td class="u"><input name="35" value = {{n35}}></td>
                <td class="lu"><input name="36" value = {{n36}}></td>
                <td class="u"><input name="37" value = {{n37}}></td>
                <td class="ur"><input  name="38" value = {{n38}}></td>
            </tr>

            <tr>
                <td class="l"><input name="40" value = {{n40}} ></td>
                <td><input name="41" value = {{n41}}></td>
                <td class="r"><input name="42" value = {{n42}}></td>
                <td><input name="43" value = {{n43}}></td>
                <td><input name="44" value = {{n44}} ></td>
                <td class="r"><input name="45" value = {{n45}} ></td>
                <td><input name="46" value = {{n46}}></td>
                <td><input name="47" value = {{n47}}></td>
                <td class="r"><input name="48" value = {{n48}}></td>
            </tr>

            <tr>
                <td class="l"><input name="50" value = {{n50}} ></td>
                <td><input name="51"  value = {{n51}}></td>
                <td class="r"><input name="52" value = {{n52}}></td>
                <td><input name="53" value = {{n53}}></td>
                <td><input name="54" value = {{n54}}></td>
                <td class="r"><input name="55" value = {{n55}}></td>
                <td><input name="56" value = {{n56}}></td>
                <td><input name="57" value = {{n57}}></td>
                <td class="r"><input name="58" value = {{n58}}></td>
            </tr>

            <tr>
                <td class="lu"><input name="60" value = {{n60}} ></td>
                <td class="u"><input name="61" value = {{n61}}></td>
                <td class="u"><input  name="62" value = {{n62}}></td>
                <td class="lu"><input name="63" value = {{n63}}></td>
                <td class="u"><input name="64" value = {{n64}}></td>
                <td class="u"><input  name="65" value = {{n65}}></td>
                <td class="lu"><input name="66" value = {{n66}}></td>
                <td class="u"><input name="67" value = {{n67}}></td>
                <td class="ur"><input name="68" value = {{n68}}></td>
            </tr>

            <tr>
                <td class="l"><input name = "70" value = {{n70}} ></td>
                <td><input name = "71" value = {{n71}}></td>
                <td class="r"><input name = "72" value = {{n72}}></td>
                <td><input name = "73" value = {{n73}}></td>
                <td><input name = "74" value = {{n74}}></td>
                <td class="r"><input name = "75" value = {{n75}}></td>
                <td><input name = "76" value = {{n76}}></td>
                <td><input name = "77" value = {{n77}}></td>
                <td class="r"><input name = "78" value = {{n78}}></td>
            </tr>

            <tr>
                <td class="bl"><input  name = "80" value = {{n80}}></td>
                <td class="b"><input name = "81" value = {{n81}}></td>
                <td class="b"><input name = "82" value = {{n82}} ></td>
                <td class="bl"><input name = "83" value = {{n83}}></td>
                <td class="b"><input name = "84" value = {{n84}}></td>
                <td class="b"><input name = "85" value = {{n85}}></td>
                <td class="bl"><input name = "86" value = {{n86}} ></td>
                <td class="b"><input name = "87" value = {{n87}} ></td>
                <td class="br"><input name = "88" value = {{n88}}></td>
            </tr>
        
        
        </table>
        <div style ="text-align: center;">

        <button type="submit" class="sbutton" id="solve">Solve</button>
    </form>
    <form method = "GET" action="/reset">
        <button type="submit" class="sbutton"> Reset </button>
    
    </form> 
    </div>
</div>
    
<p class = "explain">Explanation of the solver:</p>
<p style="margin-left: 10px;" class="explain">
    The solver uses a combination of inferences, along with a backtrack search algortihim if no inferences can be made. The inferences are basic, and mostly serve to help the search algorithim avoid picking a value that would break the rules of the sudoku puzzle. The search algorithim guesses the cell with the least number of options. So if it is known that one of the cells can only be a 1 or a 7, that guess will be made on that cell.  
</p>

<p class = "explain">The code used to run this webpage along with code for solving the sudoku puzzle can be found on me github below:</p>
<p style="margin-left: 10px;" class="explain">
    <a link href= "https://github.com/mkaufmann84/sudoku_web">Source Code
    </a>
    

</body>