body {
  background-color: #55ABFF;
  font-size: 100%;
}

table{
    border-collapse: collapse;
    /*margin-right: auto;
    margin-left: auto;*/
    margin-top: 15mm;
width: 250px;
height: 250px ;}
input {
    width: 20px;
    height: 20px;
    margin: 0;
    font: 400 13.3333px Arial;
    padding: 0px;
    outline:none;
    text-align:center;
    border: 0;
}

.button{
    width:auto;
    height:auto;

}

.tablegrid{
    margin-top: 10px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;

}

.licanv{
    list-style-type:none;
    margin: 0px 0px;
}

p{
    margin: 10px 0px;
}

td{
    border-left: black solid 1px;
    border-top: black solid 1px;

}
.lu{
    border-top: solid black 3px;
    border-left: solid black 3px;
    padding: 0px;
}
.l{
    border-left:solid black 3px ;
    padding: 0px;
}
.u{
    border-top: solid black 3px;
    padding: 0px;
}
.ur{
    border-top: solid black 3px;
    border-right: solid black 3px;
    padding:0px;
}
.r{
    border-right: solid black 3px;
    padding:0px;
}
.b{
    border-bottom: solid black 3px;
    padding: 0px;
}
.bl{
    border-bottom: solid black 3px;
    border-left: solid black 3px;
    padding: 0px;
}
.br{
    border-bottom: solid black 3px;
    border-right: solid black 3px;
    padding: 0px;
}

.sbutton{
    width: 244px;
    height: 40px;
    font-size: 30px;
    border: none;
    background-color: #00DC2D
    
}
.sbutton:hover{
    background-color: #00941E;
    cursor: pointer;
}

.explain{
    font-size: 120%;

}